{% extends 'layout.html' %} {% block css %} {% endblock %} {% block body %}
<main>
  <div class="container mt-4">
    <div class="card mb-4">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <p class="text-center pt-3 h5 font-weight-bold pr-3">
              GÜNCEL KURLAR
            </p>
            <table class="table table-striped">
              <tbody>
                {% for name_curr,result in zipList %}
                <tr>
                  <td>{{name_curr}}</td>
                  <td>{{result|round(2, 'floor')}} {{base_curr}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="calendar-assets">
              <div class="field">
                <div class="row">
                  <div class="col-md-3 col-12">
                    <p class="text-center pt-3 text-bolder font-bolder">
                      TARİH GİR
                    </p>
                  </div>
                  <div class="col-md-9 col-12">
                    <form
                    class="form-input"
                    id="date-search"                   
                    method="post"
                  >
                    <input
                      type="hidden"
                      name="csrf_token"
                      value="{{ csrf_token() }}"
                    />
  
                    <input
                      type="date"
                      class="text-field pl-3"
                      name="date"
                      id="date"
                      data-provide="datepicker"
                      required
                    />
                    <button
                      type="submit"
                      class="btn btn-small btn-primary"
                      title="Ara"
                    >
                      <i class="fas fa-search text-white"></i>
                    </button>
                  </form>
                  </div>
                </div>

              </div>
            </div>
                {% if zipList_date == "" %} 
                {% else %}          
                  <p class="text-center pt-3 h5 font-weight-bold pr-3">
                    {{date}} TARİHİNE GÖRE KURLAR
                  </p>
                  <table class="table table-striped">
                    <tbody>
                      {% for name_curr,result in zipList_date %}
                      <tr>
                        <td>{{name_curr}}</td>
                        <td>{{result|round(2, 'floor')}} {{base_curr}}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>               
                {% endif%}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %} 
{% block js %}
<script>
  $(function(){
    var dtToday = new Date();

    var month = dtToday.getMonth() + 1;
    var day = dtToday.getDate();
    var year = dtToday.getFullYear();
    if(month < 10)
        month = '0' + month.toString();
    if(day < 10)
        day = '0' + day.toString();

    var minDate= year + '-' + month + '-' + day;

    $('#date').attr('max', minDate);
});
</script>
{% endblock %}
